body{
    display: flex;
    justify-content: center;
}

header{
    background-color: whitesmoke;
    border-radius: 70px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-content: center;
    width: 100%;
}
.main{
    font-family: Inter, sans-serif;
    font-size: 16px;
    width: 90%;
    background-color: rgb(218, 225, 239);
    height: min-content;
    padding: 10px;
}
.logo{
    padding-left: 10%;
    width: 200px;
}

.logo-text{
    display: flex;
    align-content: center;
    padding-left: 20px;
    font-size: 18pt;
}
.main-content{
    font-family: Inter;
    font-size: 14pt;
}